body {
    background-color: black;
    font-family: "Gill Sans", sans-serif;
}

.buttons {
    text-align: center;
}

.connect, .sustainability, .emergency{
    font-size: 20px;
    padding: 5px;
    height: 200px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50x;
}

.connect {
    background-color: blue;
}

.sustainability{
    background-color: green;
}

.emergency{
    background-color: red;
}