* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Gill Sans", sans-serif;
}

.buttons {
    text-align: center;
}

.connect, .sustainability, .emergency{
    font-size: 20px;
    padding: 5px;
    height: 200px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50x;
}

.connect {
    background-color: blue;
}

.sustainability{
    background-color: green;
}

.emergency{
    background-color: red;
}

.footer-container {
    display: flex;
    background-color: rgb(132,188,65);
}

.footer-button {
    color: white;
    flex: 1;
    padding: 10px;
}

.footer-icon {
    text-align: center;
    font-size: 1.7em;
    display: block;
    margin-bottom: 10px;
}

.footer-button p {
    text-align: center;
}

.footer-button:hover {
    cursor: pointer;
    background-color:  rgb(102 146 68);
}